# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
**/*.sqlite3
**/*.sqlite3-journal
**/*.db
**/*.db-journal
media/
static/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

# Other
.env
*.bak
*.tmp
*.temp
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project specific
data/
cache/