[submodule "devmind/agentcore/agentcore-metering"]
	path = devmind/agentcore/agentcore-metering
	url = https://github.com/cloud2ai/agentcore-metering.git
[submodule "devmind/agentcore/agentcore-task"]
	path = devmind/agentcore/agentcore-task
	url = https://github.com/cloud2ai/agentcore-task.git
